# ----------------------------------------
# Genomic data files
# ----------------------------------------
*.fasta.unique
*.fasta

# Ignore FASTA/FASTQ and related raw sequencing files
*.fastq
*.fq
*.fna

# Ignore paired-end read files
*.1
*.2

# Ignore intermediate alignment files
*.sam
*.bam
*.bam.bai

# Ignore all BED files 
*.bed


# Ignore compressed files
*.zip
*.gz

# ----------------------------------------
# Analysis output files
# ----------------------------------------

# Ignore Kraken2, Bracken, and Krona outputs
*.kraken2
*.bracken
*.krona.txt

# Ignore other result artifacts
*.out
*.html
!**/multiqc_report.html
!**/*krona.html
*checkpoint.ipynb

# Ignore large container or index files
*.sif
tools/
databases/
bowtie_index/

# ----------------------------------------
# Project/system files
# ----------------------------------------

# macOS system metadata
.DS_Store

# R/RStudio project metadata
.RData
.Rhistory
.Rproj.user/
*.Rproj
