# ----------------------------------------
# Genomic data files
# ----------------------------------------
.*
*.bam
*.bam.bai
*long_RP1/results/host_dna_analysis/blast_query.fasta
*long_SG/processed_data/human/bed_files/intervals.bed
*long_RP1/results/host_dna_analysis/blast_query.fasta.unique
*long_SG/processed_data/human/bed_files/intervals.bed

# Ignore FASTA/FASTQ and related raw sequencing files
*.fastq
*.fq
*.fna

# Ignore paired-end read files
*.1
*.2

# Ignore intermediate alignment files
*.sam
*human.bam

# Ignore all BED files except 'common_intersections.bed'
*.bed
!**/intervals.bed

# ----------------------------------------
# Analysis output files
# ----------------------------------------

# Ignore Kraken2, Bracken, and Krona outputs
*.kraken2
*.bracken
*.krona.txt

# Ignore other result artifacts
*.out
*.html
!**/multiqc_report.html
!**/*krona.html
*checkpoint.ipynb

# Ignore large container or index files
*.sif
tools/
databases/
bowtie_index/

# ----------------------------------------
# Project/system files
# ----------------------------------------

# macOS system metadata
.DS_Store

# R/RStudio project metadata
.RData
.Rhistory
.Rproj.user/
*.Rproj

# Ignore compressed files
*.zip
*.gz
